//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11
//Part Number: GW1N-UV9LQ144C6/I5
//Device: GW1N-9
//Device Version: C


// FPGA Clocks
IO_LOC "CLK_50" 98;
IO_PORT "CLK_50" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLK_OSC_2" 106;
IO_PORT "CLK_OSC_2" PULL_MODE=UP BANK_VCCIO=1.8;


// Chip Interconnection
IO_LOC "CM[7]" 3;
IO_PORT "CM[7]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CM[6]" 6;
IO_PORT "CM[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CM[5]" 7;
IO_PORT "CM[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CM[4]" 8;
IO_PORT "CM[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CM[3]" 9;
IO_PORT "CM[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CM[2]" 10;
IO_PORT "CM[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CM[1]" 12;
IO_PORT "CM[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "CLK_inter" 23;
IO_PORT "CLK_inter" PULL_MODE=UP BANK_VCCIO=1.8;

// SPI & FLASH
IO_LOC "FLASH_HOLD_n" 28;
IO_PORT "FLASH_HOLD_n" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "FLASH_WP_n" 27;
IO_PORT "FLASH_WP_n" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SPI_MOSI" 34;
IO_PORT "SPI_MOSI" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SPI_SCLK" 32;
IO_PORT "SPI_SCLK" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SPI_SS" 29;
IO_PORT "SPI_SS" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;

// LEDs
IO_LOC "LED[7]" 51;
IO_PORT "LED[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[6]" 52;
IO_PORT "LED[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[5]" 54;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[4]" 56;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[3]" 57;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[2]" 58;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[1]" 59;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[0]" 60;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;


// 7-Segment Display
IO_LOC "SEG[7]" 65;
IO_PORT "SEG[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEG[6]" 61;
IO_PORT "SEG[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEG[5]" 62;
IO_PORT "SEG[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEG[4]" 63;
IO_PORT "SEG[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEG[3]" 64;
IO_PORT "SEG[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEG[2]" 66;
IO_PORT "SEG[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEG[1]" 67;
IO_PORT "SEG[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SEG[0]" 68;
IO_PORT "SEG[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;


// Key Buttons
IO_LOC "KEY[2]" 40;
IO_PORT "KEY[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEY[1]" 39;
IO_PORT "KEY[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "KEY[0]" 38;
IO_PORT "KEY[0]" PULL_MODE=UP BANK_VCCIO=1.8;



// Switches
IO_LOC "SW[9]" 41;
IO_PORT "SW[9]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[8]" 42;
IO_PORT "SW[8]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[7]" 43;
IO_PORT "SW[7]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[6]" 44;
IO_PORT "SW[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[5]" 45;
IO_PORT "SW[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[4]" 46;
IO_PORT "SW[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[3]" 47;
IO_PORT "SW[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[2]" 48;
IO_PORT "SW[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[1]" 49;
IO_PORT "SW[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[0]" 50;
IO_PORT "SW[0]" PULL_MODE=UP BANK_VCCIO=1.8;





